h1{
    text-align: center;
    color:goldenrod;

}
input[type=text]{
    width:20rem;
    height:2rem;
    border:1px solid goldenrod;
    cursor:text;
    align-items: center;
    margin-left:37rem;
}
div{
    background-color: orange;
    margin-left: 37rem;
    height:2rem;
    width:20rem;
}
p{
    text-align: center;
}
body{
    background-color: aliceblue;
}
